name: Flutter Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup project
        uses: ./.github/actions/setup-project

      - name: Setup Gradle cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3
        with:
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Setup Android SDK cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3
        with:
          key: ${{ runner.os }}-android-sdk-${{ hashFiles('android/app/build.gradle.kts') }}
          path: |
            /usr/local/lib/android/sdk/ndk
            /usr/local/lib/android/sdk/cmake
          restore-keys: |
            ${{ runner.os }}-android-sdk-

      - name: Build APK
        run: flutter build apk

  build-ios:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup project
        uses: ./.github/actions/setup-project

      - name: Build iOS
        run: flutter build ios --no-codesign
